* {
  padding: 0;
  margin:0;
}

/* App.js */

.App {
  background-color:#EAEAEA;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.App-header {
  color: #A6A6A6;
}
.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center
}

/* Form.js */
form {
  background-color: white;
  width: 714px;  
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

textarea {
  resize: none;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

span{
  margin-right: 5px;  
}

.addButton {
  width: 100px;
  height: 40px;
  background-color: #44C767;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}


/* Notes.js */

.notes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.note {
  max-width: 300px;
  padding: 10px;
  margin: 15px;
  word-wrap: break-word;
  border-radius: 10px;
box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

/* Search.js */


.search input {
  margin: 30px auto;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}